<nav class="navbar">

  <a routerLink="/" class="nav-logo">
    PC E-Commerce
  </a>


  <div class="nav-links">


    <a routerLink="/home" class="nav-item">
      Home
    </a>


    <a routerLink="/catalogo" class="nav-item">
      Catalogo Componenti
    </a>



    @if (authService.utenteCorrente) {


      @if (authService.utenteCorrente.ruolo === 'VENDITORE') {


        <a routerLink="/miei-prodotti" class="nav-item">
          I miei prodotti
        </a>


      }



      <a routerLink="/carrello" class="nav-item">
        Carrello
      </a>


      <a routerLink="/ordini" class="nav-item">
        I miei ordini
      </a>


      <a routerLink="/profilo" class="nav-item">
        Il mio profilo
      </a>


    } @else {


      <a routerLink="/login" class="nav-item">
        Login
      </a>


      <a routerLink="/registrazione" class="nav-item">
        Registrati
      </a>


    }


  </div>

</nav>