<section class="ordini-wrapper">

  <div class="ordini-card">

    <h1>I miei ordini</h1>


    @if (ordini.length > 0) {


      @for (ordine of ordini; track ordine.id) {


        <div class="ordine">


          <h2>
            Ordine #{{ ordine.id }}
          </h2>


          <p>
            Data:
            {{ ordine.dataOrdine }}
          </p>


          <p>
            Totale:
            {{ ordine.totale | number:'1.2-2' }} €
          </p>


          <hr>


          <h3>
            Prodotti:
          </h3>


          @if (ordine.id && prodottiOrdine[ordine.id]) {


            @for (prodotto of prodottiOrdine[ordine.id]; track prodotto.id) {


              <div class="prodotto-ordine">


                <p>
                  {{ prodotto.prodotto.nome }}
                </p>


                <p>
                  Quantità:
                  {{ prodotto.quantita }}
                </p>


                <p>
                  Prezzo:
                  {{ prodotto.prezzo | number:'1.2-2' }} €
                </p>


              </div>


            }


          }


        </div>


      }


    }
    @else {


      <p>
        Non hai ancora effettuato ordini.
      </p>


    }


  </div>

</section>